.main {
   .banner{
       background-color: #ff626d;
       height: 100px;
    .header {
        // padding: 50px 25px 0 570px;
        
        h1 {
            margin-bottom: 0px;
            font-size: 32px;
            color: #1f0a31;
            margin: 0px;
            text-align: end;
            // padding: 0px 0px px
        }
        p {
            margin-bottom: 0px;
            text-align: end;

        }
    }
   }
}